.NavLink {
  border-radius: 0.5rem;
  transition:
    background-color 120ms ease,
    box-shadow 120ms ease,
    color 120ms ease;

  &[data-variant="default"] {
    &:hover {
      background-color: var(--mb-color-background-hover);
      box-shadow: inset 0 0 0 1px var(--mb-color-border-subtle);
    }

    &[data-active] {
      color: var(--mb-color-text-primary-inverse);
      box-shadow: var(--mantine-shadow-xs);

      &,
      &:hover {
        background-color: var(--mb-color-brand);
      }

      .NavLinkLabel {
        color: var(--mb-color-text-primary-inverse);
      }

      .NavLinkChevron {
        color: var(--mb-color-text-primary-inverse);
      }
    }

    &:not([data-active]) {
      /* apply default icon color for section icons when inactive */
      .NavLinkSection {
        color: var(--mb-color-text-primary);
      }
    }
  }

  &[data-variant="mb-light"] {
    &:hover {
      background-color: var(--mb-color-background-hover);
      box-shadow: inset 0 0 0 1px var(--mb-color-border-subtle);
    }

    &[data-active] {
      &,
      .NavLinkLabel {
        color: var(--mb-color-text-primary);
      }

      background-color: var(--mb-color-background-tertiary);
      box-shadow: inset 0 0 0 1px var(--mb-color-border-subtle);
    }
  }

  &[data-variant="admin-nav"] {
    &:hover {
      background-color: var(--mb-color-background-hover);
      box-shadow: inset 0 0 0 1px var(--mb-color-border-subtle);
    }

    .NavLinkLabel {
      color: var(--mb-color-text-primary);
    }

    &[data-active] {
      color: var(--mb-color-text-brand);

      &,
      &:hover {
        background-color: var(--mb-color-background-selected);
        box-shadow: inset 0 0 0 1px var(--mb-color-border-brand);
      }

      .NavLinkLabel {
        color: var(--mb-color-text-brand);
      }

      .NavLinkChevron {
        color: var(--mb-color-text-brand);
      }
    }
  }
}

.NavLinkLabel {
  font-size: 14px;
}

.NavLinkChevron {
  color: var(--mb-color-text-primary);
}

.NavLinkSection {
  &[data-position="left"] {
    margin-right: var(--mantine-spacing-sm);
  }

  &[data-position="right"] {
    margin-left: var(--mantine-spacing-sm);
  }
}
